In [6]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import math
import seaborn as sns
from sklearn import linear_model
from sklearn import preprocessing
from sklearn.utils import resample

import nltk

import warnings
warnings.filterwarnings("ignore")

In [2]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [7]:
reviews = pd.read_json('../../__DATA__/reviews_Tools_and_Home_Improvement_5.json', lines=True)

In [44]:
from sklearn.utils import resample
df = reviews[['reviewText','summary','overall']]
df2 = resample(df, replace=False, n_samples=500)
df3 = df2

In [9]:
df2.shape

(500, 3)

In [45]:
import string
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for i in df2['reviewText'].index:
    no_punct = ""
    for char in df2['reviewText'][i]:
        if char not in punctuations:
            no_punct = no_punct + char
    df3['reviewText'][i] = no_punct
df3.head()

,reviewText,summary,overall
80701,Seem like quality materials always good to have,"6"" bit set",5
65357,I gave this to my wife as a stocking stuffer t...,Useful Little Beacon,5
29050,I bought the saw and the stand and this was on...,Got returned,3
68587,I dont use this for much but its great for tho...,Opens those clamshell packages.,4
27600,I didnt think this would work but having a pes...,It works great,5

In [47]:
all_text = ''
for i in df3['reviewText']:
    all_text = all_text + i + ' '
all_text = all_text.lower().split()

In [48]:
len(all_text)

54602

In [3]:
from nltk.corpus import stopwords
rmvwords = stopwords.words('english')
rmvwords

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [57]:
pruned_text = []
for i in all_text:
    if i not in rmvwords:
        pruned_text.append(i)
all_text = pruned_text
len(all_text)

28311

In [58]:
textdf = pd.DataFrame(all_text, columns=['words'])
textdf['ones'] = 1
textdf.head()

       words  ones
0       seem     1
1       like     1
2    quality     1
3  materials     1
4     always     1

In [64]:
textdf.groupby(['words']).sum().sort_values(by='ones',ascending=False).head(50)

            ones
words
one          288
light        262
use          222
like         222
well         169
would        165
good         154
great        147
get          143
tool         123
easy         118
work         116
set          113
dont         110
time         108
much         102
used         100
need          98
also          98
bit           92
quality       92
small         91
really        90
works         89
little        88
price         87
made          86
lights        80
nice          79
long          75
drill         74
batteries     73
im            72
product       71
enough        70
blade         70
make          69
better        68
using         68
two           67
flashlight    67
way           66
led           66
even          66
still         64
plastic       63
tools         62
back          62
battery       60
bought        60

In [18]:
s = df['reviewText'][4]
# define punctuation
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

# To take input from the user
# my_str = input("Enter a string: ")

# remove punctuation from the string
no_punct = ""
for char in s:
       if char not in punctuations:
               no_punct = no_punct + char

# display the unpunctuated string
print(no_punct)

They are soo freaking annoying  Why You spend all this time dan near breaking off your fingernail trying to separate these lil buggers and when you do finally get them apart you accidentally hold your hand in a certain way or angle and they snap right back together again with reckless abandon  So yes annoying but thats only because they are soo good at what they do  You too will be happily annoyed with your purchase  Id stick my reputation on that statement with these magnets

In [19]:
s + s

"They are soo freaking annoying!!  Why?! You spend all this time, da*n near breaking off your fingernail trying to separate these li'l buggers, and when you do finally get them apart, you accidentally hold your hand in a certain way or angle and they snap right back together again with reckless abandon!  So yes, annoying, but that's only because they are soo good at what they do.  You too will be happily annoyed with your purchase.  I'd stick my reputation on that statement... with these magnets!They are soo freaking annoying!!  Why?! You spend all this time, da*n near breaking off your fingernail trying to separate these li'l buggers, and when you do finally get them apart, you accidentally hold your hand in a certain way or angle and they snap right back together again with reckless abandon!  So yes, annoying, but that's only because they are soo good at what they do.  You too will be happily annoyed with your purchase.  I'd stick my reputation on that statement... with these magnets!"

In [56]:
listy = [[1],[2,3,4,4,5,6,6,7,8,8,8,9]]
listy = listy.append(0)
print(listy)

None

In [38]:
string = 'ooour '
string.strip()

'ooour'

In [42]:
all_text

[]

In [55]:
listy

## Naive Bayes Bernoulli Classifier Model Creation

In [65]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LassoCV

In [71]:
keys = ['good','great','excellent','must have','impressed','recommend','love','best', 'nice', 'beautiful',
        'waste','disappoint','junk','not', 'happy', 'eas', 'well','fine','joy', 'satis', 'like', 'sweet', 'wow']

data = df3
feats = pd.DataFrame(data['overall'])
for key in keys:
    feats[str(key)] = data.reviewText.str.contains(str(key), case=False)

feats.loc[feats['overall'] < 4, 'rating'] = 0
feats.loc[feats['overall'] >= 4, 'rating'] = 1

Xtrain = feats[keys]
Ytrain = data['overall']

bnb = BernoulliNB()
bnb.fit(Xtrain, Ytrain)
y_pred = bnb.predict(Xtrain)
print("Number of mislabeled points out of a total {} points : {}".format(feats.shape[0],(Ytrain != y_pred).sum()))

Number of mislabeled points out of a total 500 points : 189

### Testing Classifier on new dataset of different product category

In [72]:
import gzip

def parse(path):
    g = gzip.open(path, 'rb')
    for l in g:
        yield eval(l)

def getDF(path):
    i = 0
    df = {}
    for d in parse(path):
        df[i] = d
        i += 1
    return pd.DataFrame.from_dict(df, orient='index')

In [75]:
amzpat = getDF('../../__DATA__/reviews_Patio_Lawn_and_Garden_5.json.gz')[['reviewText','overall']]

In [76]:
amzpat.head()

                                          reviewText  overall
0  Good USA company that stands behind their prod...      4.0
1  This is a high quality 8 ply hose. I have had ...      5.0
2  It's probably one of the best hoses I've ever ...      4.0
3  I probably should have bought something a bit ...      5.0
4  I bought three of these 5/8-inch Flexogen hose...      5.0

In [78]:
amzrdx = resample(amzpat,replace=False,n_samples=500)

cleaned_reviews = amzrdx
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for i in amzrdx['reviewText'].index:
    no_punct = ""
    for char in amzrdx['reviewText'][i]:
        if char not in punctuations:
            no_punct = no_punct + char
    cleaned_reviews['reviewText'][i] = no_punct

keys = ['good','great','excellent','must have','impressed','recommend','love','best', 'nice', 'beautiful',
        'waste','disappoint','junk','not', 'happy', 'eas', 'well','fine','joy', 'satis', 'like', 'sweet', 'wow']

data = cleaned_reviews
feats = pd.DataFrame(data['overall'])
for key in keys:
    feats[str(key)] = data.reviewText.str.contains(str(key), case=False)

feats.loc[feats['overall'] < 4, 'rating'] = 0
feats.loc[feats['overall'] >= 4, 'rating'] = 1

Xtrain = feats[keys]
Ytrain = data['overall']

bnb = BernoulliNB()
bnb.fit(Xtrain, Ytrain)
y_pred = bnb.predict(Xtrain)
print("Number of mislabeled points out of a total {} points : {}".format(feats.shape[0],(Ytrain != y_pred).sum()))

Number of mislabeled points out of a total 500 points : 224

In [79]:
#Creating Function for testing Classification Model
def RevClassEval(raw_dataframe, keys):
    amzrdx = resample(raw_dataframe,replace=False,n_samples=500)

    cleaned_reviews = amzrdx
    punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    for i in amzrdx['reviewText'].index:
        no_punct = ""
        for char in amzrdx['reviewText'][i]:
            if char not in punctuations:
                no_punct = no_punct + char
        cleaned_reviews['reviewText'][i] = no_punct

    data = cleaned_reviews
    feats = pd.DataFrame(data['overall'])
    for key in keys:
        feats[str(key)] = data.reviewText.str.contains(str(key), case=False)

    feats.loc[feats['overall'] < 4, 'rating'] = 0
    feats.loc[feats['overall'] >= 4, 'rating'] = 1

    Xtrain = feats[keys]
    Ytrain = data['overall']

    bnb = BernoulliNB()
    bnb.fit(Xtrain, Ytrain)
    y_pred = bnb.predict(Xtrain)
    print("Number of mislabeled points out of a total {} points : {}".format(feats.shape[0],(Ytrain != y_pred).sum()))

In [80]:
### evaluating new data set
amzcell = getDF('../../__DATA__/reviews_Cell_Phones_and_Accessories_5.json.gz')
keys = ['good','great','excellent','must have','impressed','recommend','love','best', 'nice', 'beautiful',
        'waste','disappoint','junk','not', 'happy', 'eas', 'well','fine','joy', 'satis', 'like', 'sweet', 'wow']
RevClassEval(raw_dataframe = amzcell, keys = keys)

Number of mislabeled points out of a total 500 points : 227