In [19]:
import pandas as pd
import numpy as np
import os

In [44]:
df = pd.read_json('"Working with Files" Files/purchases.json')

In [46]:
df

  Unnamed: 0 country  ad_views  items_purchased
0     George      US        16                2
1       John     CAN        42                1
2     Thomas     CAN        32                0
3      James      US        13                8
4     Andrew     CAN        63                0
5     Martin      US        19                5
6    William      US        65                7
7    Zachary      US        23                3
8    Millard     CAN        16                0
9   Franklin      US        77                5

In [50]:
poem = open('"Working with Files" Files/poem.txt')
text = poem.readlines()
print("This poem is {} lines long.".format(len(text)))
print(text)

This poem is 19 lines long.
['Beautiful is better than ugly.\n', 'Explicit is better than implicit.\n', 'Simple is better than complex.\n', 'Complex is better than complicated.\n', 'Flat is better than nested.\n', 'Sparse is better than dense.\n', 'Readability counts.\n', "Special cases aren't special enough to break the rules.\n", 'Although practicality beats purity.\n', 'Errors should never pass silently.\n', 'Unless explicitly silenced.\n', 'In the face of ambiguity, refuse the temptation to guess.\n', 'There should be one-- and preferably only one --obvious way to do it.\n', "Although that way may not be obvious at first unless you're Dutch.\n", 'Now is better than never.\n', 'Although never is often better than *right* now.\n', "If the implementation is hard to explain, it's a bad idea.\n", 'If the implementation is easy to explain, it may be a good idea.\n', "Namespaces are one honking great idea -- let's do more of those!"]

In [52]:
purch_file = open('"Working with Files" Files/purchases.csv')
purchases = purch_file.readlines()
print("This file has {} lines.".format(len(purchases)))
print(purchases)

This file has 11 lines.
[',country,ad_views,items_purchased\n', 'George,US,16,2\n', 'John,CAN,42,1\n', 'Thomas,CAN,32,0\n', 'James,US,13,8\n', 'Andrew,CAN,63,0\n', 'Martin,US,19,5\n', 'William,US,65,7\n', 'Zachary,US,23,3\n', 'Millard,CAN,16,0\n', 'Franklin,US,77,5']

In [55]:
.close('"Working with Files" Files/poem.txt')
.close('"Working with Files" Files/purchases.csv')

SyntaxError: invalid syntax (<ipython-input-55-4b941dae8653>, line 1)